/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
svg,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  /* Color */
  --clr-black: #171321;
  --clr-dkblue: #0d314b;
  --clr-plum: #4b0d49;
  --clr-hotmag: #ff17e4;
  --clr-magenta: #e310cb;
  --clr-aqua: #86fbfb;
  --clr-white: #f7f8fa;

  /* Font */
  --fs-base: 0.875rem;
  --fs-font-size: 1.3rem;
  --ff-mono: "Oxygen mono", monospace;
  --ff-sans: Oxygen, sans-serif;

  --fw-medium: 400;
  --fw-small: 300;
  --fw-lager: 700;

  /* Size */
  --base-size: 1rem;
  --scale: 1.25;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --h6: calc(var(--base-size) / var(--scale));
}

/* GENERAL */
body {
  /* background-color: var(--clr-black); */
  font-family: var(--ff-sans);
  color: var(--clr-white);
  font-size: var(--fs-base);
}

a:link,
a:visited {
  color: var(--clr-magenta);
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* HEADER */
#intro {
  background-color: var(--clr-black);
}

#intro * {
  line-height: 1.6;
}

#intro span {
  color: var(--clr-aqua);
  font-size: var(--h1);
  font-weight: var(--fw-medium);
}

#intro h2 {
  color: var(--clr-white);
  font-size: var(--h1);
  font-weight: var(--fw-lager);
}
