@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Comfortaa", cursive; */
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
}
