.learn-more-bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: brown;
  font-weight: 500;
  /* margin: 50% auto; */
  width: 5rem;
}

.learn-more-bnt:hover {
  transform: translateY(10px);
}

/* center and add orange color .container, add text = Container and center .container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: orange;
  font-weight: 500;
  /* margin: 50% auto; */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* how can i horizontal and vertical center this class in webpage */
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
