.admonition {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
}
.calibre {
  /* display: block; */
  font-family: serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0;
}
.calibre1 {
  /*display: block;
  font-style: italic;
  left: 50%;
  max-width: 36ch;
  orphans: 1;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 33%;
  transform: translatex(-50%);
  widows: 1;
  width: 95%;
  margin: 0;*/
  width: 95%;
  text-align: center;
  /*  background: #eee;
    color: black;
    border: thin solid black;
    margin-top: 3em;*/
  margin-top: 50%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /*  padding: 1em 1em 0.75em 1em;
    border-radius: 23px;*/
}
.calibre2 {
  font-family: sans-serif;
  color: #b33425;
  font-size: 1.66667em;
  font-weight: bold;
  width: 70%;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /*  display: block;
  font-family: sans-serif;
  font-size: 1.66667em;
  font-weight: bold;
  left: 50%;
  line-height: 1.2;
  max-width: 36ch;
  position: absolute;
  text-align: center;
  top: 33%;
  transform: translatex(-50%);
  width: 95%;
  margin: 0;
*/
}
.calibre3 {
  display: block;
  /*  orphans: 1;
  widows: 1; */
  text-indent: 1.2rem;
  margin: 0.2rem 0;
}
.calibre4 {
  height: auto;
  left: 50%;
  max-height: 99%;
  max-width: 26rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.calibre5 {
  display: none;
}
.calibre6 {
  /*display: block;*/
  font-family: sans-serif;
  color: #b33425;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  /*  orphans: 1;
  widows: 1;
  text-indent: 0;
  margin: 0 0 0.2rem;
*/
}
/* .calibre7 {
  display: block;
  line-height: 1.2;
} */
.calibre8 {
  display: block;
  font-style: italic;
  /*  orphans: 1;
  widows: 1; */
  text-align: left;
  text-indent: 0;
  margin: 1rem 1rem 6rem 0;
}
.calibre9 {
  /* display: block; */
  /*  orphans: 1;
  widows: 1;
*/
  text-indent: 0;
  margin: 0.2rem 0;
}
.calibre10 {
  font-style: italic;
}
/*.calibre11 {
  color: gray;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  padding: 1rem;
  border: currentColor none medium;
}*/

/* Flaired edges, by Tomas Theunissen */

/* hr.calibre11 {
  overflow: visible; For IE
  height: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin: 1em 5em;
}
hr.calibre11:before {
  Not really supposed to work, but does
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: gray;
  border-width: 0 0 1px 0;
  border-radius: 20px;
} */

/* Glyph, by Harry Roberts */

hr.calibre11 {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: solid gray 1px;
  color: #333;
  text-align: center;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}
hr.calibre11:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.calibre12 {
  display: block;
}
.calibre13 {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 1.33em 0;
}
.calibre14 {
  font-family: monospace;
  font-size: 0.83333em;
}
.calibre15 {
  color: initial;
  font-style: italic;
  text-decoration: none;
}
.calibre16 {
  display: block;
  font-style: italic;
  orphans: 1;
  text-indent: 0;
  widows: 1;
  margin: 0;
}
.calibre17 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0;
}
.calibre18 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre19 {
  display: block;
  min-width: 2rem;
  orphans: 1;
  text-align: left;
  text-indent: 0;
  widows: 1;
  width: fit-content;
  margin: 0.2rem 30% 0.2rem 10%;
}
.calibre20 {
  display: block;
  min-width: 2rem;
  orphans: 1;
  text-align: left;
  text-indent: 0;
  widows: 1;
  width: fit-content;
  margin: 0.2rem 10% 0.2rem 30%;
}
.calibre21 {
  display: block;
  height: auto;
  max-width: 23ch;
  width: 95%;
  margin: 0.5rem auto;
}
.calibre22 {
  font-weight: bold;
}
.calibre23 {
  display: block;
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
.calibre24 {
  display: list-item;
}
.calibre25 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre26 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre27 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre28 {
  display: list-item;
  list-style-type: none;
}
.calibre29 {
  text-decoration: none;
}
.calibre30 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
.chapter {
  display: block;
  /*left: 50%;
  max-width: 36ch; */
  position: absolute;
  top: 33%;
  /*transform: translatex(-50%);
  width: 90%;*/
  /*
  width: 90%;
  margin-top: 50%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
*/
}
.chapter1 {
  display: block;
  margin-bottom: 15%;
  margin-top: 10%;
}
.footnote-ref {
  color: inherit;
  text-decoration: none;
  border-bottom: grey dotted 1px;
}
.pcalibre {
  display: block;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0.83em 0 0.5rem;
}
.pcalibre1:before {
  content: "Câu chuyện số ";
}
.pcalibre2:before {
  content: "PHẦN ";
}
.pcalibre3:before {
  content: "Chương ";
}
.pcalibre4:hover {
  color: red;
}
