* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #080d48;
  position: relative;
}

article {
  margin-bottom: 60px;
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #080d48;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  /* font-style: italic; */
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  padding-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 20px;
}

/* ul li:nth-child(odd) {
  background-color: #f7f7f7;
} */

/* ul li {
  margin-bottom: 50px;
} */

ul li {
  background-color: #f7f7f7;
}

ul li:last-child {
  margin-bottom: 0px;
}

/* article p:last-child {
  color: brown;
} */

.container {
  border-top: 5px solid #1098ad;
  /* center trick */
  width: 800px;
  margin: 0 auto;
}

.navigation a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

.navigation a:link:last-child {
  margin-right: 0;
}

.article-title {
  text-transform: uppercase;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-size: 18px;
  font-style: italic;
} */
#footer {
  font-size: 16px;
  /* padding: 10px 10px; */
}

#author {
  font-size: 18px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-list {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 30px;
}

.post-image {
  width: 100%;
  height: auto;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 10px;
  margin-bottom: 15px;
  width: 500px;
}

/* Styling Link - LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline dotted orange;
}

a:active {
  color: orangered;
  font-style: italic;
}

.like-button {
  /* color: crimson; */
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: bisque;
  border: none;
  right: 30px;
  bottom: 50px;
  position: absolute;
}
