@layer base {
  /* Reset */
  *,
  *:before,
  :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Base */
  :root {
    /* Primary Color */
    --color-accent: #ff5252;
    --color-primary: #3f51b5;
    --color-primary-dark: #303f9f;
    --color-primary-light: #c5cae9;
    --font-color-primary: #212121;
    --font-color-secondary: #757575;
    --font-color-divider: #bdbdbd;
    --font-color-text-icon: #f8f9fa;

    /* Accent Color */
    --color-green: #22c55e;
    --color-purple: #8f57f7;
    --color-orange: #f8a401;

    /* Size */
    --base-size: 1rem;
    --scale: 1.25;
    --h5: calc(var(--base-size) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h6: calc(var(--base-size) / var(--scale));
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
    color: var(--font-color-primary);
    background-color: var(--color-primary-dark);
    font-weight: 300;
  }

  h1,
  .h1 {
    font-size: var(--h2);
    letter-spacing: 0.15px;
    font-weight: 900;
    line-height: 1.25;
  }

  h2,
  .h2 {
    line-height: 1.25;
    padding: 1rem 0;
    font-weight: 600;
    font-size: var(--h3);
    text-align: center;
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h5);
    line-height: 1;
    font-weight: 600;
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  ul,
  ol {
    list-style: none;
  }

  button {
    font-weight: 600;
    color: var(--font-color-text-icon);
    background-color: var(--color-accent);
    padding: 0.75em 2em;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    box-shadow: 0 0 6px #ce7f71;
  }

  button:active {
    box-shadow: 0 0 1px #853a2d;
  }

  input {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    border: none;
    font-size: var(--base-size);
  }

  input::placeholder {
    color: var(--font-color-divider);
  }

  input:focus {
    color: var(--color-primary-dark);
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary-light);
  }

  section {
    padding: 1rem;
  }

  a:link {
    text-decoration: none;
  }

  nav a:link {
    color: var(--font-color-text-icon);
  }
  nav a:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
  nav a:active {
    color: var(--font-color-text-icon);
  }
  nav a:visited {
    color: var(--font-color-text-icon);
  }
}

/* ---------------WRAPPER----- */
.wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.wrapper * {
  /* border: 1px solid #8adaff; */
}

/* ---------------HEADER----- */
header {
  background-color: #303f9f;
  color: var(--font-color-text-icon);
  padding: 0 0.5rem;
}

header > h1 {
  margin-top: 4rem;
  line-height: 1;
}

header > p {
  margin-top: 2rem;
  line-height: 1.5;
}

/* HEADER NAVIGATION */
.headerNav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
}

.logoImg {
  width: 70px;
}

.logoText {
  line-height: 0.8;
}

.logoName {
  font-size: var(--base-size);
  font-weight: 900;
  letter-spacing: 0.4px;
}

.logoSlogan {
  font-size: calc(var(--h6) / var(--scale));
  color: var(--color-accent);
  font-weight: 400;
}

/* NAVIGATION ICONS */
.headerNav > .fa {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
}
.headerNav > .fa:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.fa-bars {
  margin-left: 10px;
}

.headerNav > nav {
  display: none;
}

/* SEARCH BAR */
.search {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  position: relative;
}

.search-input {
  padding: 0 2.5rem;
}

.fa-search {
  font-weight: 300;
  color: var(--color-primary);
  position: absolute;
  top: 15px;
  left: 15px;
}

.btn-search {
  position: absolute;
  top: 6px;
  right: 6px;
}

/* ---------------MAIN----- */
main {
  background-color: var(--font-color-text-icon);
}

section > p {
  padding: 0.5rem 0.5rem;
}

/* ---------------Partnerships----- */
.partners {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

main > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  /* the another solution */
  /* background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.15),
    transparent
  ); */
}

.partners > img {
  height: 2rem;
}

/* ---------------Features----- */
.features {
  margin-top: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.features > h2,
p {
  grid-column: 1 / -1;
}

.featureBox {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: var(--h6);
}

.featureBox > .fa {
  padding: 1rem;
  color: var(--font-color-text-icon);
  border-radius: 5px;
  margin: 0.5rem 0;
  font-size: var(--h4);
  font-weight: 400;
}

.featureBox > p,
h3 {
  padding: 0.25rem 0;
}

.feature-1 > .fa {
  background-color: var(--color-green);
}

.feature-2 > .fa {
  background-color: var(--color-purple);
}

.feature-3 > .fa {
  background-color: var(--color-accent);
}

.feature-4 > .fa {
  background-color: var(--color-orange);
}

h3 {
  font-size: var(--h5);
  font-weight: 600;
}

/* -----LearnStep------ */

.learnStep {
  background-color: white;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.learnStep > p {
  text-align: center;
  margin-bottom: 2rem;
}

.stepBox {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.stepBox p {
  font-size: var(--h6);
}

.stepBox > .fa {
  font-size: var(--h3);
  align-self: center;
  /* create a circle */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}

.fa-user {
  color: var(--color-green);
  background-color: rgba(34, 197, 94, 0.15);
}
.fa-sitemap {
  color: var(--color-purple);
  background-color: rgba(143, 87, 247, 0.15);
}
.fa-graduation-cap {
  color: var(--color-accent);
  background-color: rgba(255, 82, 82, 0.15);
}

/* ---------------COURSEs----- */
.container-courses > p {
  text-align: center;
}

.course {
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.225);
}

.course > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.course-info {
  padding: 1rem;
}

.course-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
}
.course-review p {
  font-weight: 400;
  flex-grow: 1;
}

.course-info > h4 {
  margin-top: 2rem;
  border-bottom: 1px solid var(--font-color-divider);
  padding-bottom: 2rem;
}

.course-instructor {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* flex-grow: 0; */
  margin-top: 1rem;
}

.instructor-avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.instructor-name {
  font-weight: 600;
  flex-shrink: 0;
}

.instructor-title {
  font-size: var(--h6);
  color: var(--font-color-secondary);
}

.instructor {
  flex-grow: 1;
  line-height: 1;
}

.course-instructor button {
  flex-shrink: 0;
}

.course .fa-book {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  color: var(--font-color-text-icon);
  background-color: var(--color-primary-dark);
  margin-right: 10px;
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
  color: var(--color-orange);
}

/* ---------------FOOTER----- */
footer {
  background-color: var(--color-primary-dark);
  color: var(--font-color-text-icon);
}

.logoBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.logoBottom .logoText {
  line-height: 1.25;
}

.logoBottom .logoImg {
  width: 100px;
}
.logoBottom .logoName {
  font-size: var(--h3);
}
.logoBottom .logoSlogan {
  font-size: var(--base-size);
}

footer > nav {
  margin: 3rem auto;
}

ul {
  display: flex;
  justify-content: space-around;
}

.bage {
  display: flex;
  flex: 1 1 auto;
  gap: 2rem;
  cursor: pointer;
}

#copyright {
  text-align: center;
  margin: 3rem 0;
}

.scollBtn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.scollBtn .fa {
  font-size: var(--h3);
  color: var(--color-accent);
}
